@media (max-width: 1100px) {
    .played-container {
        flex-wrap: wrap;
    }

    .played-card,
    .listening-card,
    .popular-card {
        width: calc((100% - 3 * 1rem) / 4);
    }
}

@media (max-width: 700px) {
    .played-container {
        flex-wrap: wrap;
    }

    .played-card,
    .listening-card,
    .popular-card {
        width: calc((100% - 1rem) / 2);
    }
}