* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* start top bar */

.top-bar {
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    left: 230px;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #080B12;
    opacity: 50%;
}

.btn {
    padding: 1rem 3rem 1rem;
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
    margin-right: 2rem;
    background-color: #080B12;
}

.btn:hover {
    transform: scale(1.2);
}

/* end top-bar */

/* start left-bar */

.left-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    padding-left: 1rem;
    color: #5C5C5C;
    background-color: black;
}

.little-img {
    display: none;
}

.little-img img {
    width: 30px;
}

.logo {
    padding: 1rem 4.5rem 0 0;
}

.logo img {
    width: 100%;
}

.top-list {
    display: flex;
    flex-direction: column;
    padding: 2rem 5.5rem 2rem 0;
}

.top-list li {
    display: flex;
    align-items: center;
}

.top-list img {
    width: 35%;
    padding-bottom: 10px;
}

.top-list span {
    padding-bottom: 10px;
    padding-left: 1rem;
    font-weight: bold;
    white-space: nowrap;
}

.top-list span:hover,
.add-playlist span:hover,
.name-playlist li:hover,
.end-list span:hover {
    color: white;
}

.title-playlist {
    font-size: .9rem;
    font-weight: 800;
    color: white;
}

.add-playlist {
    padding-top: .8rem;
    color: #5C5C5C;
}

.fa-plus {
    padding: .7rem;
    font-weight: 800;
    font-size: 1.5rem;
    color: black;
    background-color: #A3A3A3;
}

.name-playlist li {
    padding-top: 1.7rem;
    font-weight: bold;
    list-style: none;
    color: #5C5C5C;
}

.end-list {
    padding-bottom: 1rem;
}

.apk {
    white-space: nowrap;
    padding-bottom: .5rem;
}

.apk img {
    width: 20px;
    height: 20px;
}

.apk span {
    padding-left: .7rem;
}

.apk::after {
    content: "";
    display: block;
    margin-top: .5rem;
    height: 1px;
    width: 200px;
    background-color: #5C5C5C;
}

.profile {
    display: flex;
    white-space: nowrap;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #808080;
}

.profile span {
    font-weight: bold;
    padding-left: .7rem;
}

/* end left-bar */

/* start content-center */

.content-center {
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100vh - 90px);
    width: calc(100% - 230px);
    padding-top: 90px;
    overflow-y: auto;
    background-color: #141922;
    padding-left: 1.5rem;
    padding-right: 2rem;
}

.first-list {
    display: flex;
    justify-content: center;
}

.first-list li {
    list-style: none;
    padding: 1rem;
    position: relative;
}

.first-list a:hover {
    color: white;
}

.first-list li:first-child::after {
    content: "";
    display: block;
    position: absolute;
    right: 35%;
    bottom: 0;
    left: 35%;
    height: 2px;
    background-color: #ADFF2F;
}

.first-list a {
    text-decoration: none;
    color: #7A7D81;
}

.top-title {
    padding: 4rem 0 2rem;
    color: white;
}

.played-container,
.listening-container,
.popular-container {
    display: flex;
    gap: 1rem;
}

.played-card,
.listening-card,
.popular-card {
    width: calc((100% - 5 * 1rem) / 6);
}


.played-card img:hover,
.listening-card img:hover,
.popular-card img:hover {
    opacity: 50%;
}

.img-container {
    position: relative;
    display: flex;
}

.hover-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hover-card .fa-circle-play {
    font-size: 4rem;
    color: white;
}

.played-card:hover .hover-card,
.listening-card:hover .hover-card,
.popular-card:hover .hover-card {
    opacity: 1;
}

.played-card img,
.listening-card img,
.popular-card img {
    width: 100%;
}

.played-card h3,
.listening-card h3,
.popular-card h3 {
    padding-top: 1rem;
    font-size: 1.4rem;
    color: white;
    text-align: center;
}

.played-card h5 {
    padding-top: .5rem;
    font-size: 1.1rem;
    color: #7D7F83;
}

.played-card h5 {
    text-align: center;
}

.created,
.popular {
    padding: 3rem 0 .7rem;
    color: white;
}

.listening {
    padding-bottom: 2rem;
    color: #7D7F83;
}

.popular-card img {
    border-radius: 50%;
}

.popular-container {
    padding-bottom: 4rem;
}
/* end content-center */


/* start down-bar */

.down-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    padding-inline: 10px;
    height: 90px;
    background-color: #282828;
}

.left-down {
    display: flex;
    align-items: center;
    min-width: min-content;
}

.left-down img {
    width: 42px;
    height: 42px;
}

.left-down h5,
.left-down h6 {
    padding-left: 10px;
    color: white;
}

.left-down h5 {
    font-size: .7rem;
}

.left-down h6 {
    font-size: .6rem;
    color: #848484;
}

.text-left {
    padding-right: 40px;
}

.icon-left-down {
    display: flex;
    flex-wrap: wrap;
}

.left-down i {
    padding-right: 12px;
    color: #848484;
}

.center-down {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
    color: white;
}

.keys i {
    padding-inline: .5rem;
}

.keys .fa-circle-play {
    font-size: 1.5rem;
}

.keys .fa-circle-play:hover {
    transform: scale(1.2);
}

.music-bar {
    display: flex;
    color: white;
}

.music-bar .line-bar-white {
    width: 30%;
    height: 4px;
    position: relative;
    align-self: center;
    margin-left: 1.8rem;
    background-color: white;
}

.music-bar .line-bar-white:hover,
.total-line .line-bar-white:hover {
    cursor: pointer;
    background-color: #ADFF2F;
}

.music-bar .line-bar-white:hover::after,
.total-line .line-bar-white:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
}


.music-bar .line-bar {
    width: 60%;
    height: 4px;
    align-self: center;
    margin-right: 1.8rem;
    background-color: #5A5A5A;
}

.right-down {
    width: 20%;
    display: flex;
    color: white;
}

.right-down i {
    padding-inline: .5rem;
}

.total-line {
    display: flex;
    width: 100%;
    min-width: min-content;
}

.right-down .line-bar-white {
    width: 20%;
    height: 4px;
    align-self: center;
    margin-left: .4rem;
    background-color: white;
    position: relative;
}

.right-down .line-bar {
    width: 60%;
    height: 4px;
    align-self: center;
    margin-right: .4rem;
    background-color: #5A5A5A;
}

/* end down-bar */