* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* start top bar */

.top-bar {
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    left: 230px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #080B12;
    opacity: 50%;
}

.btn {
    padding: 1rem 3rem 1rem;
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
    margin-right: 2rem;
    background-color: #080B12;
}

/* end top-bar */

.flex-left-center {
    display: flex;
}

/* start left-bar */

.left-bar {
    width: 230px;
    background-color: black;
}

/* end left-bar */

/* start content-center */

.content-center {
    height: calc(100vh - 90px);
    width: calc(100% - 230px);
    padding-top: 90px;
    overflow-y: auto;
    background-color: #141922;
    padding-left: 1.5rem;
    padding-right: 2rem;
}

.first-list {
    display: flex;
    justify-content: center;
}

.first-list li {
    list-style: none;
    padding: 1rem;
}

.first-list a {
    text-decoration: none;
    color: #7A7D81;
}

.under-line {
    width: 30px;
    padding-top: 5px;
    border-bottom: 2px solid #ADFF2F;
}

.top-title {
    padding: 4rem 0 2rem;
    color: white;
}

.played-container,
.listening-container,
.popular-container {
    display: flex;
    gap: 1rem;
}

.played-card,
.listening-card,
.popular-card {
    width: calc((100% - 5 * 1rem) / 6);
}

.played-card img,
.listening-card img,
.popular-card img {
    width: 100%;
}

.played-card h3,
.listening-card h3,
.popular-card h3 {
    padding-top: 1rem;
    font-size: 1.4rem;
    color: white;
    text-align: center;
}

.played-card h5 {
    padding-top: .5rem;
    font-size: 1.1rem;
    color: #7D7F83;
}

.played-card h5 {
    text-align: center;
}

.created,
.popular {
    padding: 3rem 0 .7rem;
    color: white;
}

.listening {
    padding-bottom: 2rem;
    color: #7D7F83;
}

.popular-card img {
    border-radius: 50%;
}

.popular-container {
    padding-bottom: 4rem;
}
/* end content-center */


/* start down-bar */

.down-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    height: 90px;
    background-color: #282828;
}

.left-down {
    display: flex;
    align-items: center;
}

.left-down img {
    width: 42px;
    height: 42px;
}

.left-down h5,
.left-down h6 {
    padding-left: 10px;
    color: white;
}

.left-down h5 {
    font-size: .7rem;
}

.left-down h6 {
    font-size: .6rem;
    color: #848484;
}

.text-left {
    padding-right: 40px;
}

.left-down i {
    padding-right: 12px;
    color: #848484;
}

.center-down {
    display: flex;
    flex-direction: column;
}

.right-down {
    height: 45px;
    width: 45px;
    background-color: blue;
}
/* end down-bar */